.header1{
	text-align: center;
	margin-top: 1em;
	font-family: 'Yellowtail', cursive;
		
}

.bottomInformation{
	text-align: center;
}
.number{
	padding-top: 1em;
}


a:link {
    color: blue;
}


a:visited {
    color: green;
    text-decoration: none
}

a:hover{
	font-weight: bold;
}


a:active {
	 text-decoration: none;
    color: orange;
   
}
